@import "../node_modules/bootstrap/dist/css/bootstrap.css"

header
  background: #343a40
  color: white

  a
    color: white

    &:hover
      color: #aaa
      text-decoration: none

  h1
    display: inline

  .btn
    margin-left: 8px
